<br>
<br>
<br>
<br>

<div class="admin-form-container">
  <h2>New Admin</h2>

  <%= form_with model: @admin, url: admin_panel_admins_path, method: :post do |f| %>

    <div>
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </div>

    <div>
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>

    <div>
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>

    <div>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <div>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>

    <div>
      <%= f.submit "Create Admin" %>
    </div>

  <% end %>
</div>
