<br>
<br>
<br>
<br>

<h1>User Details</h1>

<div class="user-details-container">
  <div class="user-card">
    <h2><%= @user.first_name %> <%= @user.last_name %></h2>
    <p><strong>Email:</strong> <%= @user.email %></p>
    <p><strong>Role:</strong> <%= @user.role.capitalize %></p>

    <div class="button-container">
      <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-edit" %>
      <%= link_to "Log Out", logOut_user_path, class: "btn btn-logout" %>
    </div>
  </div>
</div>
